@import '../../components/buttons';

.js-form-container {
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 100%;
  top: 55px;
  left: 0;
  background: $white;
  border-radius: 5px;
  transform: translateY(-120%);
  transition-duration: 1s;
  z-index: 99;

  @media screen and (min-width: $tablet) {
    width: 482px;
    height: 476px;
    padding: 30px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -250%);
    opacity: 0;
  }
}

.is__open {
  opacity: 1;
  transform: translateY(0%);

  @media screen and (min-width: $tablet) {
    transform: translateY(50%);
    transform: translateX(-50%);
  }
}

.backdrop {
  width: 100%;
  top: 0;
  left: 0;

  filter: blur(4px);

  transition-property: filter;
  transition-duration: $dur-primary;
}

.form__wrap {
  max-width: 362px;
  margin: 0 auto;
  text-align: center;
}

.form__btn {
  display: block;
  border: 0;
  background: $white;
  margin-left: auto;

  svg {
    width: 25px;
    height: 25px;
    fill: $gray;

    transition: fill $dur-primary;

    &:hover {
      fill: $black;
    }
  }
}

.form__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 15px;

  @media screen and (min-width: $tablet) {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.form__text {
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.form__input-wrap {
  position: relative;
}

.form__input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 8px 15px;
  border: 1px solid $black;
  font-size: 14px;

  &:invalid {
    border: 2px solid red;
  }

  @media screen and (min-width: $tablet) {
    height: 45px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 16px;
  }
}

.tel {
  padding-left: 40px;

  @media screen and (min-width: $tablet) {
    padding-left: 50px;
  }
}

.form__img {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 15px;

  @media screen and (min-width: $tablet) {
    top: 14px;
    width: 26px;
    height: 18px;
  }
}

.btn__revert {
  @include btn-main($white, $gray);
}

.large {
  width: 100%;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 15px;
  }
}

.form__info {
  font-size: 10px;
  line-height: 150%;
  text-align: left;

  @media screen and (min-width: $tablet) {
    font-size: 13px;
  }
}

.underline a {
  color: $black;
  text-decoration: underline;
}

.form__success {
  margin: 0 auto;
  width: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    width: 200px;
  }
}

.form__ok {
  width: 35px;
  height: 35px;
  margin: 0 auto 30px;

  @media screen and (min-width: $tablet) {
    width: 80px;
    height: 80px;
  }
}

.send {
  display: none;
}
