<header data-overlay class="container header">
  <a href="#">
    <img class="nav__img" src="/images/logo.svg" alt="logo" height="30" width="146" />
  </a>
  <nav class="nav">
    <ul class="nav__menu">
      <li class="item"><a href="#">Компанія</a></li>
      <li class="item"><a href="#">Продукція</a></li>
      <li class="item"><a href="#">Статті</a></li>
      <li class="item"><a href="#">Рішення</a></li>
      <li class="item"><a href="#">Контакти</a></li>
    </ul>
  </nav>
  <address class="adr">
    <ul class="adr__menu">
      <li class="item">
        <a class="" href="tel:+110001111111">0 (800) 00-00-00</a>
      </li>
      <li class="item">
        <button class="btn js-open-form">Зв’язатись</button>
      </li>
      <li class="item">
        <button class="btn__lang active" data-ua>UA</button>
        <button class="btn__lang" data-ru>RU</button>
      </li>
    </ul>
    <button class="modal__btn js-open-menu">
      <load ="./burger/icon.html" />
    </button>
  </address>
  <load ="./burger/menu.html" />
</header>
<load ="./form/form.html" />
