<section class="hero section">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container hero__wrap">
          <div class="hero__block">
            <h1 class="hero__title">Meltem</h1>
            <p class="hero__text">
              Meltem – це гарантовано якісне вентиляційне обладнання від німецького
              заводу.
            </p>
            <button class="btn__revert">Продукція</button>
          </div>
          <div>
            <img class="hero__img" src="/images/hero.png" alt="hero" />
          </div>
          <div class="hero__model">
            <p class="hero__item">Відцентровий витяжний вентилятор</p>
            <p class="hero__item-title">Meltem V-II 30-N</p>
            <button class="btn revert">Детальніше</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="container hero__wrap">
          <div class="hero__block">
            <h1 class="hero__title">Meltem</h1>
            <p class="hero__text">
              Meltem – це гарантовано якісне вентиляційне обладнання від німецького
              заводу.
            </p>
            <button class="btn__revert">Продукція</button>
          </div>
          <div>
            <img class="hero__img" src="/images/hero.png" alt="hero" />
          </div>
          <div class="hero__model">
            <p class="hero__item">Відцентровий витяжний вентилятор</p>
            <p class="hero__item-title">Meltem V-II 30-N</p>
            <button class="btn revert">Детальніше</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="container hero__wrap">
          <div class="hero__block">
            <h1 class="hero__title">Meltem</h1>
            <p class="hero__text">
              Meltem – це гарантовано якісне вентиляційне обладнання від німецького
              заводу.
            </p>
            <button class="btn__revert">Продукція</button>
          </div>
          <div>
            <img class="hero__img" src="/images/hero.png" alt="hero" />
          </div>
          <div class="hero__model">
            <p class="hero__item">Відцентровий витяжний вентилятор</p>
            <p class="hero__item-title">Meltem V-II 30-N</p>
            <button class="btn revert">Детальніше</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="container hero__wrap">
          <div class="hero__block">
            <h1 class="hero__title">Meltem</h1>
            <p class="hero__text">
              Meltem – це гарантовано якісне вентиляційне обладнання від німецького
              заводу.
            </p>
            <button class="btn__revert">Продукція</button>
          </div>
          <div>
            <img class="hero__img" src="/images/hero.png" alt="hero" />
          </div>
          <div class="hero__model">
            <p class="hero__item">Відцентровий витяжний вентилятор</p>
            <p class="hero__item-title">Meltem V-II 30-N</p>
            <button class="btn revert">Детальніше</button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</section>
