<div class="js-menu-container">
  <ul class="modal__menu">
    <li class="item"><a href="#">Компанія</a></li>
    <li class="item"><a href="#">Продукція</a></li>
    <li class="item"><a href="#">Статті</a></li>
    <li class="item"><a href="#">Рішення</a></li>
    <li class="item"><a href="#">Контакти</a></li>
    <li class="item">
      <a class="" href="tel:+110001111111">0 (800) 00-00-00</a>
    </li>
    <li class="item">
      <button class="btn__lang active" data-ua-mob>UA</button>
      <button class="btn__lang" data-ru-mob>RU</button>
    </li>
  </ul>
</div>
